body{
	font-family: Georgia, Arial;
	font-size: 16px;
	background-color: #000022;}

h2, h3{
	font-family: "Courier New", Arial, Georgia, sans-serif;
	text-shadow: 2px 2px 3px #666666;
	color: silver;
}

p{
	font-family: Times, "Courier New", sans-serif;
	color: DarkCyan;}

a{ 
	text-decoration: none;
}

li{
	text-decoration: none;
	display: inline;
	margin: 0px 3px;}


#page{
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
  padding: 20px;
	background-color: white;}

#name{
	font-family: Times, Georgia, sans-serif;
	color: silver;
	text-shadow: 2px 2px 3px #666666;
	text-align: left;}

#nav{
	font-family: Times, Georgia;
	text-transform: capitalize;
	text-decoration: none;
	text-shadow: 2px 2px 3px #666666;
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
	text-align: center;
	}

#nav:focus{
	background-color: pink;}


dt{
	font-family: Courier, Times, Georgia;
	text-shadow: 2px 2px 3px #666666;
 }

dd{
	font-family: Times, Georgia;
	text-shadow: 2px 2px 3px #666666;
	}


