body{
	font-family: Georgia, Arial;
	font-size: 16px;
	background-color: #000022;
  }


h2, h3{
	font-family: "Courier New", Arial, Georgia, sans-serif;
	text-shadow: 2px 2px 3px #666666;
	color: silver;
}

p{
	font-family: "Courier New", sans-serif;
	color: DarkCyan;}

#home{
	padding: 200px 0px;
}

.intro{
	font-size: 30px;
	font-family: "Courier New", Georgia, sans-serif;
	color: silver;
	text-shadow: 2px 2px 3px #666666;
	text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li{
	text-decoration: none;
	display: inline;
}

a{ 
	text-decoration: none;
	color:DarkCyan;
	display: inline;
}


#nav{
	font-family: Courier, Georgia;
	font-size: 20px;
	text-transform: capitalize;
	text-decoration: none;
	text-shadow: 2px 2px 3px #666666;
	text-align: center;
	display: block;
	background-color: darkgray;
	padding: 8px;
	position: sticky;
	top: 0;
	width: 100%;
	}

#nav:focus{
	background-color: pink;}

li a:hover {
  background-color: #666666;
}
/**************************************************/
/* style bio content */
/**************************************************/
.bio{
	font-size: 25px;
	color: white;
	position: relative;
	left: 300px;
}

#view{
	font-family: Courier, sans-serif;
	text-align: center;
	border: 1px solid rgba(0,0,200,0.6);
	background: rgba(0,0,200,0.3);
	color: rgba(0,0,200,0.6);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
	border-radius: 1px;
	padding: 1px 10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	left: 600px;
}

/**************************************************/
/* background color animation for biography block */
/**************************************************/
#home{
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes example {
  0% {background-color: #000022;}
  25% {background-color: #000033;}
  50% {background-color: #002200;}
  75% {background-color: #220000;}
  100% {background-color: black;}
}

@keyframes example {
  0% {background-color: #000022;}
  25% {background-color: #000033;}
  50% {background-color: #002200;}
  75% {background-color: #220000;}
  100% {background-color: black;}
}


/* Make sure that padding behaves as expected */
/* {box-sizing:border-box} */

/* Container for skill bars */
.container {
  width: 50%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 1%; background-color: DarkCyan;} /* Green */
.css {width: 1%; background-color: DarkCyan;} /* Blue */
.js {width: 1%; background-color: DarkCyan;} /* Red */
.php {width: 1%; background-color: DarkCyan;} /* Dark Grey */

#latex {
  width: 100%;
  background-color: #ddd;
}

#latex_bar {
  width: 1%;
  height: 5px;
  background-color: DarkCyan;
}

dt{
	font-family: Courier, Times, Georgia;
	text-shadow: 2px 2px 3px #666666;
 }

dd{
	font-family: Courier, Times, Georgia;
	text-shadow: 2px 2px 3px #666666;
	}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
