<div class="main">
  <p class="sign" >ログイン</p>
<%= form_tag("/login" ,class: "form1") do%>
<input class="un" name="name"  placeholder="ユーザー名"/>
<input class ="pass" type="password"  name="password" placeholder="パスワード"  />
<input class = "submit" type="submit"  value="ログイン" />
<% end %>

</div>
