<div class="main">
  <p class="sign" >新規登録</p>
<%= form_tag("/users/create" ,class: "form1") do%>
<input class="un" name="name"  placeholder="ユーザー名"/>
<input class ="pass" type="password"  name="password" placeholder="パスワード"  />
<input class = "submit" type="submit"  value="登 録" />
<% end %>

</div>
