<% content_for :title do %> 過去問題集 <% end %>
<div class="quiz_area">
  <!-- 追加 画面に被せる黒背景 -->
  <!-- <div class="quiz_area_bg"></div> -->
  <div class="container">
    <div class="quiz_set">
      <div class="quiz_title">第<span class="quiz_no"></span>問</div>
      <div id="quiz_number"></div>
      <div class="quiz_question">
        <%= image_tag"/year/q000.jpg", alt: "問題" %>
        <!-- <img src="/year/q000.jpg" alt="問題" /> -->
      </div>
      <div class="quiz_ans_area">
        <ul></ul>
        <div class="decide_container">
          <div class="quiz_decide">決定</div>
          <div id="quiz_next">Next</div>
        </div>
      </div>
    </div>
    <div id="quiz_result"></div>
    <div id="quiz_record">
      <%= link_to("ホームへ","/year/home" ) %>
    </div>
  </div>
</div>
