    <div class="quiz_area">
      <!-- 追加 画面に被せる黒背景 -->
      <!-- <div class="quiz_area_bg"></div> -->
      <div class="container">
        <div class="quiz_set">
          <div class="quiz_title">第<span class="quiz_no"></span>問</div>
          <div class="quiz_question">
            <%=  image_tag"/2019-1-000.jpg", alt: "問題" %>
          </div>
          <div class="quiz_ans_area">
            <ul></ul>
            <div class="decide_container">
              <div class="quiz_decide">決定</div>
              <div id="quiz_next">Next</div>
            </div>
          </div>
        </div>
        <div class="quiz_result"></div>
      </div>
    </div>
    <%# <script src="../jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/quiz.js"></script> %>
