/* クイズのすべてを管理する親要素 */
body {
  background-color: #e4ceae;
}
.quiz_area {
  position: relative;
  height: 600px;
  margin: 100px 300px;
  padding: 100px 0;
  background-color: #fff;
  .container {
    width: 60%;
    margin: 0 auto;
    .quiz_title {
      background: #e4ceae;
      box-shadow: 0px 0px 0px 5px #e4ceae;
      border: dashed 2px white;
      padding: 5px 0px;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }
    .ans_icon {
      z-index: 20;
    }
    .true {
      background-color: #d21d22;
      box-shadow: 0px 0px 0px 5px #d21d22;
      color: #fff;
    }
    .false {
      background-color: #4d8fac;
      box-shadow: 0px 0px 0px 5px #4d8fac;
      color: #fff;
    }
  }
  .quiz_question {
    box-sizing: border-box;
    border: 4px solid #ccc;
    text-align: center;
  }

  .quiz_ans_area {
    ul {
      margin: 10px 0 0 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      ::after {
        content: "";
        flex-wrap: wrap;
        display: flex;
        clear: both;
      }
      li {
        box-sizing: border-box;
        font-weight: bold;
        list-style: none;
        float: left;
        padding: 0 15px;
        border: 2px solid #ccc;
        cursor: pointer;
        position: relative;
        p {
          display: inline-block;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background-color: #e4ceae;
          margin-right: 10px;
        }
      }
      li:hover > p {
        color: #000;
      }
      .selected:hover > p,
      .selected > p {
        background: #ffa500;
        color: #000;
      }
      .form_one {
        flex: auto;
        width: 100%;
        margin: 0 0 -2px 0;
      }
      .form_two {
        flex: auto;
        width: 50%;
        margin: 0 0 -2px -2px;
      }
      .form_four {
        flex: auto;
        width: 25%;
        margin: 0 0 0 -2px;
      }
      #true_indicate > p {
        color: #fff;
        background-color: #d21d22;
      }
    }
    #last_score {
      display: inline-block;
      padding: 14px 30px;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      background: #ddd; /*ボタン色*/
      color: #fff;
      border-radius: 3px;
      margin-top: 30px;
      cursor: pointer;
    }
    .decide_container {
      text-align: center;
    }
    .quiz_decide {
      display: inline-block;
      padding: 14px 30px;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      background: #ddd; /*ボタン色*/
      color: #fff;
      border-radius: 3px;
      margin-top: 30px;
      cursor: pointer;
    }
    .ready {
      background: #ffa500; /*ボタン色*/
      border-bottom: solid 4px #e4ceae;
      z-index: 15;
    }
    .quiz_decide:active {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px); /*下に動く*/
      border-bottom: none; /*線を消す*/
    }
  }
  .quiz_area_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    color: #fff;
    text-align: center;
  }
  #quiz_next {
    display: inline-block;
    padding: 14px 30px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background: #d21d22; /*ボタン色*/
    color: #fff;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
    z-index: 10;
  }
}
.quiz_result {
  text-align: center;
  font-size: 50px;
  .quiz_restart {
    font-size: 40px;
    cursor: pointer;
  }
  .quiz_restart:hover {
    background: #444;
    color: #fff;
  }
}
