@media screen and (max-width: 1024px) {
  * {
    float: none;
    position: static;
  }
  img {
    max-width: 100%;
    height: auto;
    font: none;
    position: static;
  }

  header {
    text-align: center;
  }
  .logo {
    display: none;
  }
  .lead {
    padding: 20px 0;
    .container {
      width: 100%;
    }
    .left-txt {
      width: 80%;
      background-color: orange;
    }
    .right-img {
      // width: 70%;
      img {
        display: none;
      }
    }
  }
}
